@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif");
html {
    font: 14px/1.5 "PT Sans", sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-image: url('staticfiles/images/3D-Print-background.jpg');
    background-size: contain;
}