/* Styling for the delete confirmation container */
.container-delete-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 0.5rem;
    max-width: 40rem;
    text-align: center;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.2);
}

/* Header styling */
.container-delete-photo h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333;
}

/* Paragraph styling */
.container-delete-photo p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #666;
}

/* Confirm Delete button */
.container-delete-photo form button {
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    background-color: #ed4040;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-right: 1.5rem;
    transition: background-color 0.3s;
}

.container-delete-photo form button:hover {
    background-color: #d13232;
}

/* Cancel link styling */
.container-delete-photo form a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.8rem 2rem;
    background-color: #ccc;
    color: #333;
    border-radius: 0.4rem;
    transition: background-color 0.3s;
}

.container-delete-photo form a:hover {
    background-color: #bbb;
}
