/* Adjusting the main container to avoid overlap */
.login-register-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    width: 100%;
    min-height: calc(100vh + 30rem); /* Adjust height to accommodate the nav bar */
    /*margin-top: 4rem; /* Move the whole section down */
}

/* Styling the login/register box */
.login-register-box {
    background-color: #fff;
    padding: 3rem;
    margin: 4rem 0rem 0rem 0rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
    width: 35rem;
    text-align: center;
    margin-top: 2rem; /* Add top margin to move it down */
}

/* Styling form inputs */
form p {
    margin-bottom: 2rem;
    font-size: 1.33rem;
}

form input {
    width: 100%;
    padding: 0.83rem;
    margin-top: 0.42rem;
    border-radius: 0.42rem;
    border: 0.083rem solid #ccc;
    font-size: 1.33rem;
    box-sizing: border-box;
}

/* Styling the login button */
.btn-login {
    width: 100%;
    padding: 1rem;
    margin-top: 1.66rem;
    background-color: #3498db; /* Button color */
    color: #fff; /* Text color */
    border: none; /* No border */
    border-radius: 0.42rem; /* Rounded corners */
    font-size: 1.33rem; /* Font size */
    cursor: pointer; /* Pointer on hover */
}

.btn-login:hover {
    background-color: #2980b9; /* Darker button on hover */
}

/* Second option (register link) styling */
.second-option {
    margin-top: 1.66rem;
    font-size: 1.17rem;
    color: #555;
}

.second-option a {
    color: #3498db; /* Link color */
    text-decoration: none; /* No underline */
}

.second-option a:hover {
    text-decoration: underline; /* Underline on hover */
}
