{% extends 'base.html' %}
{% block main_content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" />
    
    <div class="edit-delete edit-photo">
        <h2>Add photo</h2>
        <form action="{% url 'create photo' %}" method="post" enctype="multipart/form-data" class="upload-form">
            {{ form.as_p }}
            {% csrf_token %}
            <button class="add-btn" type="submit">Add Photo</button>
        </form>
    
    
    </div>
    {% include 'Validators_size_photos.html' %}
{% endblock %}